<section class="about">
  <div class="about-content">
    <h3>Mentor de Negócios & Empreendedorismo</h3>
    <img src="marcel.jpg" alt="Sobre o Empresário" class="about-image">
    <p class="about-text">
      "Saí do pouco e construi um império. Comecei trabalhando em um lava-rápido, depois fui estagiário na Prefeitura de Osasco. Aos 17 anos, passei na Federal de Santa Catarina e deixei minha família para buscar um futuro melhor. Criei um meu canal no YouTube sobre educação financeira, estudei empreendedorismo e abri a primeira loja online. Com o crescimento, expansão para o físico, começando em uma garagem abandonada. Com disciplina, estratégia e determinação, escalei o negócio para seis lojas, vendendo no mundo todo e faturando mais de R$ 6 milhões por mês. Hoje, continuamente inovando e expandindo, provando que com foco e trabalho duro, qualquer sonho pode se tornar realidade"
    </p>
  </div>
</section>