<app-home id="home"></app-home>
<app-about id="about"></app-about>
<app-services id="services"></app-services>
<app-mg-joalheria id="mg-joalheria" class="mg-joalheria"></app-mg-joalheria>
<app-mg-phones id="mg-phones" class="mg-phones"></app-mg-phones>
<app-mg-shopping id="mg-shopping" class="mg-shopping"></app-mg-shopping>
<app-moda-girl id="mg-moda-girl" class="mg-moda-girl"></app-moda-girl>
<app-testimonials id="testimonials"></app-testimonials>
<app-mentoria id="mentoria" class="mentoria"></app-mentoria>
<app-contact id="contact"></app-contact>
<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>