<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MARCEL</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <div id="home" class="home">
    <div class="profile">
      <img src="img-marcel.jpg" alt="Marcel" class="profile-image">
      <h1>MARCEL GASTARDELI</h1>
      <div class="social-icons">
        <a href="mailto:contatogiovani97@gmail.com"><i class="fas fa-envelope"></i></a>
        <a href="https://www.instagram.com/marcelgastardeli_/"><i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/+5511958520419"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </div>
</body>
</html>