<section class="mg-phones">
  <h2 class="mg-phones-title">Vendas e Assistências</h2>

  <div class="carousel">
    <button class="carousel-button prev" (click)="prevImage()">&#10094;</button>
    <img [src]="images[currentIndex]" alt="Phone Image" class="carousel-image">
    <button class="carousel-button next" (click)="nextImage()">&#10095;</button>
  </div>

  <div class="buttons">
    <a href="https://www.instagram.com/mgphone__/" target="_blank" class="button instagram">
      <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="https://wa.me/5511958520419" target="_blank" class="button whatsapp">
      <i class="fab fa-whatsapp"></i> WhatsApp
    </a>
  </div>
</section>