<section class="mentoria">
  <h2 class="mentoria-title">Mentoria</h2>

  <div class="mentoria-image">
    <img src="img-mentoria.jpg" alt="Mentoria">
  </div>

  <p class="mentoria-description">
    Ao longo da minha jornada, aprendi que o sucesso não é apenas sobre alcançar objetivos, mas também sobre compartilhar conhecimento e inspirar outras pessoas. Se você está buscando orientação para crescer pessoal ou profissionalmente, estou aqui para ajudar. Entre em contato e vamos conversar sobre como posso contribuir para o seu crescimento.
  </p>

</section>